
</br></br></br></br>
<h1>Слёзы вещей</h1>

<p>Это - Текст. В тексте возможно то, что невозможно в реальности - говорящие коты, оживающие статуи и путешествия на Луну на воздушном шаре.</p>
<p>В тексте возможны Слёзы Вещей. Или Память Вещей. Это просто текст. В реальности - стулья и дверные ручки никогда не плачут и ничего не помнят. Но можно взять шариковую ручку или ноут-бук и написать - "Слезы Вещей", "Память Вещей". В Пространстве Языка такое допустимо. Для такого текста есть соответствующие тропы и жанры. Метафора, оксюморон, абсурд, сюрреализм, поззия, художественный текст.</p>

<%=  link_to "The Open University", "http://open.ac.uk" %>
<%=  link_to "Carnegie Mellon University (CMU)", "http://www.cmu.edu/" %>
<%=  link_to "Massachusetts Institute of Technology", "http://web.mit.edu/" %>
<%=  link_to "Tufts University", "http://www.tufts.edu/" %>
<%=  link_to "Berkeley University of California", "http://www.berkeley.edu/" %>
<%=  link_to "Stanford University", "https://www.stanford.edu/" %>
<%=  link_to "Utah State University", "http://www.usu.edu/" %>
<%=  link_to "Kutztown University of Pennsylvania", "http://www.kutztownsbdc.org/default.asp" %>
<%=  link_to "University of California, Irvine", "http://uci.edu/" %>
<%=  link_to "University of Southern Queensland", "http://usq.edu.au/" %>

<p>«...был богом, воссоздающим погибший мир», Набоков «Машенька» </p>
