<h2>Hello World</h2>
<p>
  The time is now: <%= Time.now %>
</p>
<%=  link_to "Create new", new_word_path %>
<%=  link_to "Words", words_path %>
<%=  link_to "Essrnces", essences_path %>
<%=  link_to "Books", books_path %>