<div class="center hero-unit">

<!--
<%=  link_to "Create new", new_word_path %>
<%=  link_to "Words", words_path %>
<%=  link_to "Essences", essences_path %>
<%=  link_to "Books", books_path %>
<%=  link_to "Events", events_path %>
-->
<p>Find me in app/views/welcome/index.html.erb</p>

<p><%=  link_to "Sample App",     "http://polar-waters-4114.herokuapp.com/" %></p>
<p><%=  link_to "Заводной Мир",   "https://zavodnoy-mir-2596.herokuapp.com/" %></p>
<p><%=  link_to "February App",   "https://guarded-scrubland-44888.herokuapp.com/" %></p>
<p><%=  link_to "Bookshop",       "https://floating-falls-74030.herokuapp.com/" %></p>


  <%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>
<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>

</div>


