<h2>Hello World</h2>
<p>
  The time is now: <%= Time.now %>
</p>
<%=  link_to "Create new", new_word_path %>
<%=  link_to "Words", words_path %>
<%=  link_to "Essences", essences_path %>
<%=  link_to "Books", books_path %>
</br>
<p>Шумерский-Гильгамеш, Вавилоно-аккадский-Энума элиш, Греция - Гомер, Рим - Вергилий, Египет - Книга Мертвых, Индия - Махабхарата, Пятикнижие Моисея - Иудея, Евангелие - Средневековая цивилизация</p>
</br>
<p><%=  link_to "The Open University", "http://open.ac.uk" %></p>
<p><%=  link_to "Carnegie Mellon University (CMU)", "http://www.cmu.edu/" %></p>
<p><%=  link_to "Massachusetts Institute of Technology", "http://web.mit.edu/" %></p>
<p><%=  link_to "Tufts University", "http://www.tufts.edu/" %></p>
<p><%=  link_to "Berkeley University of California", "http://www.berkeley.edu/" %></p>
<p><%=  link_to "Stanford University", "https://www.stanford.edu/" %></p>
<p><%=  link_to "Utah State University", "http://www.usu.edu/" %></p>
<p><%=  link_to "Kutztown University of Pennsylvania", "http://www.kutztownsbdc.org/default.asp" %></p>
<p><%=  link_to "University of California, Irvine", "http://uci.edu/" %></p>
<p><%=  link_to "University of Southern Queensland", "http://usq.edu.au/" %></p>