<h2>Hello World</h2>
<p>
  The time is now: <%= Time.now %>
</p>
<%=  link_to "Create new", new_word_path %>
<%=  link_to "Words", words_path %>
<%=  link_to "Essences", essences_path %>
<%=  link_to "Books", books_path %>
</br>
<ul>
	<li>Текст есть то, что он есть, а именно только и исключительно текст, безразличный к тому, чем «наполняют» его толкователи</li>
	<li>Текст есть феномен, рассчитанный только и исключительно на чтение: его «адекватное понимание» (как сведение смысла к набору формулировок) невозможно</li>
	<li>Текст не имеет никаких обязательств: ни перед автором, ни перед читателем, ни перед самим собой</li>
	<li>код (язык) является в художественном тексте не только и не столько средством, сколько предметом изображения, то есть – со всей очевидностью является сам по себе одной из целей высказывания.</li>
	<li>Однако уже здесь необходимо сделать одну весьма и весьма существенную оговорку – оговорку о необходимости различать литературный нонсенс и нонсенс обыденный. Не вдаваясь пока в подробности, отметим только, что литературный нонсенс как бы там ни было есть игра по правилам (тем более тогда, когда перед нами классический, или чистый, нонсенс), в то время как нонсен обыденный есть хаос.</li>
	<li>о типологической близости между такими феноменами, как сновидение, с одной стороны, и художественное творчество, с другой.</li>
	<li>литература прежде всего интересует меня как не-жизнь, литература прежде всего интересует меня как область другого существования, по другим законам, по другим нормам, там есть много дополнительных измерений, которых жизнь не знает </li>
	<li>литература абсурда (как и всякая литература, где происходит то же самое, но в меньшей мере) вообще «ничего не делает» с реальной действительностью, ибо создаёт свою. Иначе говоря, литература абсурда структурирует некий мир, используя для этой цели</li>
</ul>
<p>Шумерский-Гильгамеш, Вавилоно-аккадский-Энума элиш, Греция - Гомер, Рим - Вергилий, Египет - Книга Мертвых, Индия - Махабхарата, Пятикнижие Моисея - Иудея, Евангелие - Средневековая цивилизация</p>
</br>
<p><%=  link_to "The Open University", "http://open.ac.uk" %></p>
<p><%=  link_to "Carnegie Mellon University (CMU)", "http://www.cmu.edu/" %></p>
<p><%=  link_to "Massachusetts Institute of Technology", "http://web.mit.edu/" %></p>
<p><%=  link_to "Tufts University", "http://www.tufts.edu/" %></p>
<p><%=  link_to "Berkeley University of California", "http://www.berkeley.edu/" %></p>
<p><%=  link_to "Stanford University", "https://www.stanford.edu/" %></p>
<p><%=  link_to "Utah State University", "http://www.usu.edu/" %></p>
<p><%=  link_to "Kutztown University of Pennsylvania", "http://www.kutztownsbdc.org/default.asp" %></p>
<p><%=  link_to "University of California, Irvine", "http://uci.edu/" %></p>
<p><%=  link_to "University of Southern Queensland", "http://usq.edu.au/" %></p>